body {
  color: #000;
  background: #fff;
  font-family: "Lucida Console", Monaco, monospace;
}

.tone-pad {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 2px;
  border: 2px solid #000;
  text-decoration: none;
  text-align: center;
  color: #2e2e2e;
  background-color: #f7f7f7;
  //border-radius: 50%;
  border-radius: 9%;
  &.hold {
    background-color: #f3e939;
  }
  &.trigger {
    background-color: #fc8c84;
  }
  &.on {
    background-color: #4A90E2;
  }
  &.active {
    background-color: #00AA00;
  }
}

.pads, .potis {
  display: flex;
  .tone-poti {
    padding: 0;
  }
}

.tone-mixer {
  clear: both;
  .tone-poti {
    float: left;
  }
}

.tone-poti {
  display: block;
  position: relative;
  padding: 0;
  margin: 4px;
  font-size: 0.7em;
  //overflow: hidden;
  .poti-container {
    position: relative;
    text-align: center;
    left: 0;
    cursor: pointer;
    width: 0;
    height: 0;
    margin: 0;
    border-width: 2px;
    //overflow: hidden;
    display: inline-block;
    .poti-rotator {
      opacity: 0.9;
      width: 100%;
      height: 100%;
      margin: 0;
      border-width: 2px;
      border-radius: inherit;
      border-style: solid;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      pointer-events: none;
      &:before {
        pointer-events: none;
        content: '';
        min-width: 2px;
        width: 2%;
        margin-left: 49%;
        height: 40%;
        display: block;
        background-color: #000;
      }
    }
  }
  .poti-value, .poti-label {
    overflow: visible;
    width: 100%;
    position: absolute;
    pointer-events: none;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /*
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0)*/
  }
  .poti-value {
    display: block;
    bottom: 0;
  }
  .poti-label {
    display: block;
    top: 0;
  }
}

.matrix {
  display: block;
  .tone-pad {
    display: block;
    float: left;
  }
  .row {
    clear: both;
    //clear: left;
  }
}

.toleft {
  float: left;
}

.clearfix {
  clear: both;
}

.tone-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
                         not supported by any browser */
}